  <div>
    <h1>Movies on show</h1>
  </div>
  <div>
    <div *ngIf="data" class="container">
          <div class="card 2" *ngFor="let item of data">
            <div class="card_image">
              <img
              src='{{"https://image.tmdb.org/t/p/w600_and_h900_bestv2"+item.image}}'
              alt="MovieCover"
              />
            </div>
            <div class="card_title title-white">
              <p></p>
            </div>
          </div>
        </div>



    <div *ngIf="!data">
      <app-loading></app-loading>
    </div>
  </div>

