<div *ngIf="data">
  <div class="bannerContainer">
    <div class="mainCover mainContent">
      <div *ngIf="data.type_id === 1">
        <img
          src="https://images.unsplash.com/photo-1585647347483-22b66260dfff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
          alt="ProductCover"
          class="banner"
        />
      </div>
      <div *ngIf="data.type_id === 2">
        <img
          src="https://images.unsplash.com/photo-1583683433877-042a75ba47e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=687&q=80"
          alt="ProductCover"
          class="banner"
        />
      </div>
      <div *ngIf="data.type_id === 3">
        <img
          src="https://images.unsplash.com/photo-1550674640-edeb406d94bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
          alt="ProductCover"
          class="banner"
        />
      </div>
    </div>
  </div>
  <section>
    <div class="mainContainer">
      <ng-container *ngIf="data.type_id === 1">
        <img
          src="https://images.unsplash.com/photo-1585647347483-22b66260dfff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
          alt="ProductCover"
          class="avatar"
        />
      </ng-container>
      <ng-container *ngIf="data.type_id === 2">
        <img
          src="https://images.unsplash.com/photo-1583683433877-042a75ba47e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=687&q=80"
          alt="ProductCover"
          class="avatar"
        />
      </ng-container>
      <ng-container *ngIf="data.type_id === 3">
        <img
          src="https://images.unsplash.com/photo-1550674640-edeb406d94bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
          alt="ProductCover"
          class="avatar"
        />
      </ng-container>
      <div class="details">
        <div class="detailsHead">
          <h1 class="detailsTitle btitle">{{ data.name }}</h1>
          <div class="subtitles">
            <span class="classification">${{
              data.price
            }}</span>
            <div *ngFor="let item of data.classificationproducts">
              <p class="genres">{{ item.type }}</p>
            </div>
          </div>
        </div>
        <div class="detailsbody">
          <h3 class="contentTitle">Product description</h3>
          <p class="synopsis">{{ data.description }}</p>
        </div>
          <a
            class="likeBtn"
            (click)="likeProduct($event)"
            tooltip="Rate this product"
            placement="bottom"
          >
            <span
              class="material-icons"
              style="
                vertical-align: middle;
                display: inline-flex;
                padding: 20px;
              "
            >
              thumb_up
            </span>
          </a>
      </div>
    </div>
  </section>
</div>
<div *ngIf="!data">
  <app-loading></app-loading>
</div>
