@import "~material-design-icons/iconfont/material-icons.css";

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 1vh;
  height: 10vh;
  background-color: #333333;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.logo {
  width: 60px;
  letter-spacing: 10px;
  font-size: 1.2rem;
}

.avatar {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
}

.dropdown {
  position: relative;
  margin: auto;
  display: inline-block;
}

.second-ul {
  display: none;
}

li:hover {
  .second-ul {
    display: block;
    margin-top: 0px;
    width: 200px;
    background-color: #464646;
    position: absolute;
  }
}

svg {
  fill: white;
}

svg:hover {
  fill: #7109ad;
}
