<nav>
  <div class="logo">
    <a>{{ logo }}</a>
  </div>
  <ul class="nav-links">
    <li>
      <a href="#">{{ pageone }}</a>
    </li>
    <li>
      <a href="#">{{ pagetwo }}</a>
    </li>
    <li>
      <a href="#">{{ pagefour }}</a>
    </li>
    <li>
      <a href="#">{{ about }}</a>
    </li>
  </ul>
  <div>
        <li>
          {{ locations
          }}<span
            class="material-icons"
            style="vertical-align: middle; display: inline-flex;"
          >
            keyboard_arrow_down
          </span>
          <ul class="second-ul">
            <li *ngFor="let item of dropd">
              {{item}}
            </li>
          </ul>
        </li>

  </div>
</nav>
