@import "~material-design-icons/iconfont/material-icons.css";

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 1vh;
  height: 10vh;
  background-color: #333333;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.burger{
  display: none;
}

.burger div{
  width: 25px;
  height: 5px;
  background-color: #ffff;
  margin: 5px;
  border-radius: 0.5rem;
}

.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.logo {
  width: 60px;
  letter-spacing: 10px;
  font-size: 1.2rem;
}

.avatar {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
}

.dropdown {
  position: relative;
  margin: auto;
  display: inline-block;
}

.second-ul {
  display: none;
}

li:hover {
  .second-ul {
    display: block;
    margin-top: 0px;
    width: 200px;
    background-color: #464646;
    position: absolute;
    border-radius: 0.5rem;
    z-index: 1;
  }
}

.second-ul{
  li{
    padding: 16px;
  }
}

svg {
  fill: white;
}

svg:hover {
  fill: #7109ad;
}

@media screen and (max-width:700px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top:8vh;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }
   .burger{
     display: block;
   }
}
