<div class="container">
  <div class="gridContainer">
    <div class="cards-list">
      <div class="card 1">
        <div class="card_image">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg"
            alt="Parasite"
          />
        </div>
        <div class="card_title title-white">
          <p></p>
        </div>
      </div>

      <div class="card 2">
        <div class="card_image">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/xBHvZcjRiWyobQ9kxBhO6B2dtRI.jpg"
            alt="Astra"
          />
        </div>
        <div class="card_title title-white">
          <p></p>
        </div>
      </div>
      <div class="card 2">
        <div class="card_image">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/v7TaX8kXMXs5yFFGR41guUDNcnB.jpg"
            alt="Killbill"
          />
        </div>
        <div class="card_title title-white">
          <p></p>
        </div>
      </div>
      <div class="card 2">
        <div class="card_image">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/pU3bnutJU91u3b4IeRPQTOP8jhV.jpg"
            alt="Godzilla"
          />
        </div>
        <div class="card_title title-white">
          <p></p>
        </div>
      </div>
      <div class="card 2">
        <div class="card_image">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/lRHE0vzf3oYJrhbsHXjIkF4Tl5A.jpg"
            alt="Insideout"
          />
        </div>
        <div class="card_title title-white">
          <p></p>
        </div>
      </div>
      <div class="card 2">
        <div class="card_image">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/db32LaOibwEliAmSL2jjDF6oDdj.jpg"
            alt="Starwars"
          />
        </div>
        <div class="card_title title-white">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
