<app-undernav [show]="true"></app-undernav>
<!-- <app-undernav [show]="true"></app-undernav>
<div>
  <h1 class="heading">Register new <span class="spanx">products</span></h1>
  <h2>Add new tasty suprises for the customers at AutoTheater</h2>
  <form
    [formGroup]="CreateForm"
    (ngSubmit)="onSubmitedProduct()"
    class="container"
  >
    <div class="insideContainer">
      <div class="insideForm">
        <label for="product-name" class="labels">
          Product name
        </label>
        <input
          type="text"
          name="product-name"
          id="product-name"
          class="inputs"
          placeholder="Awesome product name"
          formControlName="name"
        />
        <div
          class="errorContainer"
          *ngIf="isSubmited && createForm.name.errors"
        >
          <p class="erroMsgs">
            The name for the product is required
            <span
              class="material-icons"
              style="vertical-align: middle; display: inline-flex;"
            >
              warning
            </span>
          </p>
        </div>
        <label for="product-description" class="labels">
          Description
        </label>
        <textarea
          name="product-description"
          id="product-description"
          class="textbox-content"
          placeholder="The product description goes here"
          formControlName="description"
          rows="5"
          cols="40"
        >
        </textarea>
        <div
          class="errorContainer"
          *ngIf="isSubmited && createForm.description.errors"
        >
          <p class="erroMsgs">
            The product description is a must
            <span
              class="material-icons"
              style="vertical-align: middle; display: inline-flex;"
            >
              warning
            </span>
          </p>
        </div>
        <label for="product-price" class="labels">
          Product price
        </label>
        <input
          type="number"
          name="product-price"
          id="product-price"
          class="inputs"
          formControlName="price"
          placeholder="$"
        />
        <div
          class="errorContainer"
          *ngIf="isSubmited && createForm.price.errors"
        >
          <p class="erroMsgs">
            The price for the product must be an integer & is required
            <span
              class="material-icons"
              style="vertical-align: middle; display: inline-flex;"
            >
              warning
            </span>
          </p>
        </div>
        <label for="product-type" class="labels">
          Product type
        </label>
        <select
          name="product-type"
          id="product-type"
          class="inputs"
          formControlName="type_id"
        >
          <option value="" disabled selected>Select your option</option>
          <option *ngFor="let i of pTypes" [ngValue]="i.id">{{
            i.name
          }}</option>
        </select>
        <div
          class="errorContainer"
          *ngIf="isSubmited && createForm.type_id.errors"
        >
          <p class="erroMsgs">
            The type for the product is required
            <span
              class="material-icons"
              style="vertical-align: middle; display: inline-flex;"
            >
              warning
            </span>
          </p>
        </div>
        <div>
          <label for="product-classification" class="labels">
            Classifications
          </label>
          <div id="product-classification" class="genres-container">
            <label class="list-container" *ngFor="let item of classifications"
              >{{ item.type }}
              <input
                type="checkbox"
                [value]="item.id"
                (change)="onCheckChecked($event)"
              />
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <div
          class="errorContainer"
          *ngIf="isSubmited && createForm.classifications.errors"
        >
          <p class="erroMsgs">
            The recommended classifications are required
            <span
              class="material-icons"
              style="vertical-align: middle; display: inline-flex;"
            >
              warning
            </span>
          </p>
        </div>
        <div class="btnContainer">
          <input type="submit" value="Submit changes" class="submit-button" />
          <input type="reset" value="Reset changes" class="submit-button" />
        </div>
      </div>
    </div>
  </form>
</div>
 -->
