<section *ngIf="dataprop">
  <div class="container">

      <div *ngFor="let item of dataprop">
        <div class="card" *ngIf="item.type_id===2">
          <div class="card_image">
            <img
            src=
              "https://images.unsplash.com/photo-1583683433877-042a75ba47e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=687&q=80"
            alt="ProductCover"
          />
          <div class="card_title">
            <a [routerLink]="['/products/', item.id]" class="btn"
              ><span class="btitle">View details</span></a
            >
          </div>
          </div>
          <div>
            <div class="heading">
              {{ item.name }}
            </div>
          </div>
          <p>{{ item.sinopsis }}</p>
          <div *ngIf="item?.genres">
            <ul>
              <li *ngFor="let gen of item.genres">
                {{ gen.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

</section>
