$primary: #fffb00;
$secondary: #7109ad;
$secondary-dual: #45036b;
$misc: #9203e6;
$bg-secondary: #333333;

.container {
  left: 0;
  right: 0;
  background-color: $bg-secondary;
  margin: 0 auto 331px;
  width: 70%;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.08);
  border-radius: 1rem;
}

.heading {
  margin: 48px auto 32px;
  height: 30px;
  font-weight: 600;
  margin-left: 100px;
  padding-left: 40px;
  text-shadow: 3px 3px #3c045c;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 48px;
  letter-spacing: -0.5px;
  line-height: 64px;
  text-align: left;
  font-stretch: normal;
}

.spanx {
  color: $primary;
}

h2 {
  text-shadow: 3px 3px #3c045c;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: left;
  margin-left: 100px;
  padding-left: 40px;
}

.inheadings{
  text-shadow: 3px 3px #3c045c;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: left;
}

.labels {
  height: 12px;
  color: #ffffff;
  text-shadow: 3px 3px #3c045c;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 13px;
  float: left;
}

.inputs {
  margin-top: 8px;
  margin-bottom: 32px;
  height: 48px;
  width: 100%;
  border: 2px solid $bg-secondary;
  border-radius: 4px;
  background-color: #404040;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 15px;
  text-indent: 16px;
  color: #ffffff;
}

.inputs:focus,.textbox-content:focus{
	border: 3px solid $primary;
}

.inputs,.textbox-content{
  font-size: 18px;
  font-weight: 400;
}

.flex-container{
  width: 100%;
  display: flex;
}

.flex-inside{
  margin-left: 30px;
}

.insideContainer {
  padding: 56px;
  box-sizing: border-box;
}
