<section>
  <div class="undernav">
    <div class="container">
      <div class="paragraph">
        {{ heading }}
      </div>
    </div>
    <div class="link-container">
      <ul class="container-links">
        <li *ngIf="!show">
          <a href="#">{{ buttonlogin }}</a>
        </li>
        <li *ngIf="!show">
          <a href="#">{{ buttonsignin }}</a>
        </li>
        <li *ngIf="show">
          <a href="#">{{ profiletag }}</a>
        </li>
        <li *ngIf="show">
          <a href="#">{{ buttonlogout }}</a>
        </li>
      </ul>
    </div>
  </div>
</section>
