.undernav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 1vh;
  height: 6vh;
  background-color: #66ccff;
  position: relative;
  top: 94px;
}

.paragraph {
  font-size: 1.4rem;
  font-style: normal;
  justify-content: center;
  letter-spacing: 2px;
  position: relative;
  
}
.petimg {
  flex: 1;
  width: 100px;
  position: relative;
  left:356px;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
