.undernav {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 0;
  background: #2188b6;
  display: flex;
  background-color: #66ccff;
  justify-content: center;
}

.container{
  max-width: 100%;
}

.paragraph {
  display:flex;
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 0;
  color: #ffffff;
  text-shadow: 3px 3px #1476a2;
}
.petimg {
  flex: 1;
  width: 100px;
  position: relative;
  left:356px;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}



.container-links {
  position: relative;
  top:-6px;
  display: flex;
  width: 30%;
  flex-direction: row;
  justify-content: space-around;
}


@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
