<section>
  <div class="undernav">
    <div class="container">
      <div class="paragraph">
        {{ heading }}
      </div>
    </div>
    <div class="link-container">
      <ul class="container-links">
        <li *ngIf="!show">
          <a routerLink="/login" routerLinkActive="active" class="loginbtn">{{ buttonlogin }}</a>
        </li>
        <li *ngIf="!show">
          <a routerLink="/register" routerLinkActive="active" class="signbtn">{{ buttonsignin }}</a>
        </li>
        <li *ngIf="show">
          <a href="#" class="signbtn">{{ profiletag }}</a>
        </li>
        <li *ngIf="show">
          <a href="#" class="loginbtn">{{ buttonlogout }}</a>
        </li>
      </ul>
    </div>
  </div>
</section>
