<section>
  <div class="undernav">
    <div class="container">
      <div class="paragraph">
        {{ heading }}
      </div>
    </div>
    <form (submit)="logout()">
      <div class="link-container">
        <ul class="container-links">
          <li *ngIf="!show">
            <a routerLink="/login" routerLinkActive="active" class="loginbtn">{{
              buttonlogin
            }}</a>
          </li>
          <li *ngIf="!show">
            <a
              routerLink="/register"
              routerLinkActive="active"
              class="signbtn"
              >{{ buttonsignin }}</a
            >
          </li>
          <li *ngIf="show">
            <a
              routerLink="/dashboard"
              routerLinkActive="active"
              class="signbtn"
              >{{ profiletag }}</a
            >
          </li>
          <li *ngIf="show">
            <button type="submit" class="logoutbtn">{{ buttonlogout }}</button>
          </li>
        </ul>
      </div>
    </form>
  </div>
</section>
