<div class="container">
  <div class="locationsDiv">
    <h1>We are <span>located</span> at</h1>
    <p>
      Visit one of our auto cinemas, check the billboard available down below
    </p>
    <div>
      <div class="locations-container">
        <div class="location">
          <div class="location-preview"></div>
          <div class="location-info">
            <h2>Alajuela East</h2>
            <h6>
              <span class="material-icons" id="icons">
                place
              </span>
              Located 300mts from Pizza Hut
            </h6>
            <button class="btn">Go to billboard</button>
          </div>
        </div>
      </div>
      <div class="locations-container">
        <div class="location">
          <div class="location-preview"></div>
          <div class="location-info">
            <h2>Alajuela West</h2>
            <h6>
              <span class="material-icons" id="icons">
                place </span
              >Located 300mts from Pizza Hut
            </h6>
            <button class="btn">Go to billboard</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="locationsDiv">
    <h1>Most<span> liked</span> movies</h1>
    <div>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatem
      eveniet ut necessitatibus, accusamus minus similique temporibus provident
      amet reprehenderit quis magnam recusandae nisi laborum laboriosam officiis
      porro? Sit, reprehenderit. Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. In harum sapiente doloremque nesciunt ad alias earum
      deserunt commodi laudantium voluptas, necessitatibus minus praesentium ab
      ea esse vitae perferendis repellat. Velit. Lorem ipsum dolor sit, amet
      consectetur adipisicing elit. Fugiat adipisci tempore reprehenderit a
      vitae asperiores obcaecati? Doloremque recusandae qui quidem quo
      perspiciatis neque, eum, nostrum suscipit officiis minus pariatur nihil!
    </div>
  </div>
</div>
