<div class="container">
  <div class="locationsDiv">
    <h1>Hi from locations!</h1>

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime incidunt explicabo ex dolorum rerum accusamus officia neque repellendus ullam! Quia accusamus veritatis laboriosam suscipit, expedita est quam vel ullam sunt.

  </div>
  <div class="locationsDiv">
    <h1>Most enjoyable</h1>
    <div>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatem eveniet ut necessitatibus, accusamus minus similique temporibus provident amet reprehenderit quis magnam recusandae nisi laborum laboriosam officiis porro? Sit, reprehenderit.
    </div>
  </div>
</div>
