<div class="container">
  <div class="locationsDiv">
    <h1>Visit <span>us</span></h1>

    <div>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatem
      eveniet ut necessitatibus, accusamus minus similique temporibus provident
      amet reprehenderit quis magnam recusandae nisi laborum laboriosam officiis
      porro? Sit, reprehenderit. Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. In harum sapiente doloremque nesciunt ad alias earum
      deserunt commodi laudantium voluptas, necessitatibus minus praesentium ab
      ea esse vitae perferendis repellat. Velit. Lorem ipsum dolor sit, amet
      consectetur adipisicing elit. Fugiat adipisci tempore reprehenderit a
      vitae asperiores obcaecati? Doloremque recusandae qui quidem quo
      perspiciatis neque, eum, nostrum suscipit officiis minus pariatur nihil!
    </div>
  </div>
  <div class="locationsDiv">
    <h1>Most<span> liked</span> movies</h1>
    <div>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatem
      eveniet ut necessitatibus, accusamus minus similique temporibus provident
      amet reprehenderit quis magnam recusandae nisi laborum laboriosam officiis
      porro? Sit, reprehenderit. Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. In harum sapiente doloremque nesciunt ad alias earum
      deserunt commodi laudantium voluptas, necessitatibus minus praesentium ab
      ea esse vitae perferendis repellat. Velit. Lorem ipsum dolor sit, amet
      consectetur adipisicing elit. Fugiat adipisci tempore reprehenderit a
      vitae asperiores obcaecati? Doloremque recusandae qui quidem quo
      perspiciatis neque, eum, nostrum suscipit officiis minus pariatur nihil!
    </div>
  </div>
</div>
