<div>
  <div *ngIf="data">
    <div class="breadcrumbs">
      <h1 class="btitle">Products & Snacks<span alt="emoji"> 🍿</span></h1>
    </div>

        <section>
          <h1 class="headings">Pop <span class="spanx">Corn</span></h1>
          <app-popcorn [dataprop]="data"></app-popcorn>
        </section>
        <section>
          <h1 class="headings">Drinks &<span class="spanx"> Soda</span></h1>

          <app-drinks [dataprop]="data"></app-drinks>
        </section>
        <section>
          <h1 class="headings">Other <span class="spanx"> snacks</span></h1>

          <app-snacks [dataprop]="data"></app-snacks>
        </section>
      </div>
  <div *ngIf="!data">
    <app-loading></app-loading>
  </div>
</div>
