<app-undernav [show]="true"></app-undernav>
<section *ngIf="billboard && movie">
  <header>
    <h1 class="heading">Make your <span class="spanx">reservation</span></h1>
    <h2>
      From here you can get all the products and tickets that you need, for you
      to enjoy your movie at maximum
    </h2>
  </header>
  <form
    [formGroup]="CreateForm"
    (ngSubmit)="onSubmitedReservation()"
    class="container"
  >
    <div class="insideContainer">
      <div class="insideForm">
        <label for="movie-info" class="labels">
          Movie <span class="spanx">information</span>
        </label>
        <div class="info-container" *ngIf="movie">
          <div class="info">
            <h3>{{ movie.name }}</h3>
            <p><span>Overview:</span> <br />{{ movie.sinopsis }}</p>
            <p><span>Show date: </span> <br />{{ billboard.show_date }}</p>
          </div>
          <div class="multimedia">
            <img
              id="movie-cover"
              alt="movie-cover"
              aria-label="movie-cover"
              src="{{
                'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + movie.image
              }}"
            />
          </div>
        </div>
        <label for="product-info" class="labels">
          Buy our <span class="spanx">products</span>
        </label>
        <div class="product-container" *ngIf="products">
          <select
            class="inputs"
            name="products"
            id="products"
            formControlName="products"
          >
            <option *ngFor="let item of products" [ngValue]="item.id">{{
              item.name
            }}</option>
          </select>
          <select
            class="inputs"
            name="classifications"
            id="classifications"
            formControlName="productClass"
          >
            <option *ngFor="let item of productClasses" [ngValue]="item.id">{{
              item.type
            }}</option>
          </select>
        </div>
        <div class="btn-container">
          <input
            type="button"
            (click)="saveProducts($event)"
            value="Add products to your cart"
            class="submit-button"
          />
        </div>
      </div>
    </div>
  </form>
</section>
<section *ngIf="!billboard || !movie">
  <app-loading></app-loading>
</section>
