<div style="display: flex; flex-direction: column; align-items: center;">
  <h1 class="heading">Log in</h1>
  <form [formGroup]="LoginForm" (ngSubmit)="onSubmited()" class="container">
    <div class="insideContainer">
      <div class="insideForm">
        <label for="email_id" class="labels">Email</label>
        <input
          type="text"
          id="email_id"
          name="email"
          aria-describedby="email_error"
          class="inputs"
          placeholder="Your email here"
          required
          formControlName="email"
        />
        <div
          class="errorContainer"
          *ngIf="isSubmited && formControls.email.errors"
        >
          <p class="erroMsgs">
            The email is required
            <span
              class="material-icons"
              style="vertical-align: middle; display: inline-flex;"
            >
              warning
            </span>
          </p>
        </div>
        <label for="password_id" class="labels">Password</label>
        <input
          type="password"
          id="password_id"
          name="password"
          aria-describedby="password_error"
          class="inputs"
          placeholder="Your password here"
          required
          formControlName="password"
        />
        <div
          class="errorContainer"
          *ngIf="isSubmited && formControls.password.errors"
        >
          <p class="erroMsgs">
            The password is required
            <span
              class="material-icons"
              style="vertical-align: middle; display: inline-flex;"
            >
              warning
            </span>
          </p>
        </div>
        <div class="errorContainer" *ngIf="isSubmited && isError">
          <p class="errorMsg">
            <span
              class="material-icons"
              style="vertical-align: middle; display: inline-flex;"
            >
              report
            </span>
            {{ isError }}
          </p>
        </div>
        <div class="forgetLink">
          <a href="#">Forgot your credentials?</a>
        </div>
        <button class="submitBtn" type="submit">Log in</button>
        <div class="noAccount">
          Don't have an account?<a
            routerLink="/register"
            routerLinkActive="active"
          >
            Register here</a
          >
        </div>
      </div>
    </div>
  </form>
</div>
