<div style="display: flex; flex-direction: column; align-items: center;">
  <h1 class="heading">Create your account</h1>
  <h2>Register to AutoTheater and make your reservations easier</h2>
  <form [formGroup]="RegisterForm" (ngSubmit)="onSubmited()" class="container">
    <div class="insideContainer">
      <div class="insideForm">
        <label for="firstName_id" class="labels">First name</label>
        <input
          type="text"
          id="firstName_id"
          name="firstName"
          aria-describedby="username_error"
          class="inputs"
          placeholder="Your first name here"
          formControlName="firstName"
        />
        <div
          class="errorContainer"
          *ngIf="isSubmited && formControls.firstName.errors"
        >
          <p class="erroMsgs">
            Your first name is required
            <span
              class="material-icons"
              style="vertical-align: middle; display: inline-flex;"
            >
              warning
            </span>
          </p>
        </div>
        <label for="lastName_id" class="labels">Last name</label>
        <input
          type="text"
          id="lastName_id"
          name="lastName"
          aria-describedby="username_error"
          class="inputs"
          placeholder="Your last name here"
          formControlName="lastName"
        />
        <div
          class="errorContainer"
          *ngIf="isSubmited && formControls.lastName.errors"
        >
          <p class="erroMsgs">
            Your last name is required
            <span
              class="material-icons"
              style="vertical-align: middle; display: inline-flex;"
            >
              warning
            </span>
          </p>
        </div>
        <label for="email_id" class="labels">Email</label>
        <input
          type="text"
          id="email_id"
          name="email"
          aria-describedby="email_error"
          class="inputs"
          placeholder="Your email here"
          formControlName="email"
        />
        <div
          class="errorContainer"
          *ngIf="isSubmited && formControls.email.errors"
        >
          <p class="erroMsgs">
            The email is required
            <span
              class="material-icons"
              style="vertical-align: middle; display: inline-flex;"
            >
              warning
            </span>
          </p>
        </div>
        <label for="password_id" class="labels">Password</label>
        <input
          type="password"
          id="password_id"
          name="password"
          aria-describedby="password_error"
          class="inputs"
          placeholder="Your password here"
          formControlName="password"
        />
        <div
          class="errorContainer"
          *ngIf="isSubmited && formControls.password.errors"
        >
          <p class="erroMsgs">
            The password is required & must be 9 characters long
            <span
              class="material-icons"
              style="vertical-align: middle; display: inline-flex;"
            >
              warning
            </span>
          </p>
        </div>
        <label for="confirm_password_id" class="labels">Confirm password</label>
        <input
          type="password"
          id="confirm_password_id"
          name="confirmPassword"
          aria-describedby="confirm_password_error"
          class="inputs"
          placeholder="Confirm your password here"
          formControlName="confirmPassword"
        />
        <div
          class="errorContainer"
          *ngIf="isSubmited && formControls.confirmPassword.errors"
        >
          <p class="erroMsgs">
            The password is required & must be 9 characters long
            <span
              class="material-icons"
              style="vertical-align: middle; display: inline-flex;"
            >
              warning
            </span>
          </p>
        </div>
        <div class="errorContainer" *ngIf="equals">
          <p class="erroMsgs">
            Password must be equals
            <span
              class="material-icons"
              style="vertical-align: middle; display: inline-flex;"
            >
              error
            </span>
          </p>
        </div>
        <div class="errorContainer" *ngIf="isSubmited && isError">
          <p class="errorMsg">
            <span
              class="material-icons"
              style="vertical-align: middle; display: inline-flex;"
            >
              report
            </span>
            {{ isError.errors[0].message }}
          </p>
        </div>
        <button type="submit" class="submitBtn">Register</button>
      </div>
    </div>
  </form>
</div>
