<section *ngIf="dataprop">
  <div class="container">
    <div *ngFor="let item of dataprop">
      <div class="card" *ngIf="item.type_id === 1">
        <div class="card_image">
          <img
            src="https://images.unsplash.com/photo-1585647347483-22b66260dfff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
            alt="ProductCover"
          />
          <div class="card_title">
            <a [routerLink]="['/products/', item.id]" class="btn"
              ><span class="btitle">View details</span></a
            >
          </div>
        </div>
        <div>
          <div class="heading">
            {{ item.name }}
            <p style="padding-top: 5px;">${{ item.price }}</p>
          </div>
        </div>
        <ng-container *ngIf="item.status === true; else elseTemplate">
          <span style="font-weight: 600; color: green;">On stock</span>
        </ng-container>
        <ng-template #elseTemplate>
          <span style="font-weight: 600; color: red;">Out of stock</span>
        </ng-template>
        <div *ngIf="item?.genres">
          <ul>
            <li *ngFor="let gen of item.genres">
              {{ gen.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
