<section *ngIf="data">
  <div class="breadcrumb">
    <h1 class="btitle">Upcoming <span class="spanx">releases</span></h1>
  </div>
  <div class="container">
    <div class="card" *ngFor="let item of data">
      <div class="card_image">
        <img
          src="{{
            'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + item.image
          }}"
          alt="MovieCover"
        />
      </div>
      <div>
        <div class="heading">
          {{ item.name }}
        </div>
        <div *ngIf="item.genres" class="genres-container">
          <div *ngFor="let gen of item.genres">
            <div class="genres-tag">
              <span
                class="material-icons gen-icon"
                style="vertical-align: middle; display: inline-flex;"
              >
                fiber_manual_record
              </span>
              {{ gen.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
