<app-undernav [show]="true"></app-undernav>
<div>
  <h1 class="heading">
    Add a new movie to the <span class="spanx">billboard</span>
  </h1>
  <h2>Set up AutoTheater's billboards from one place</h2>
  <form
    [formGroup]="CreateForm"
    (ngSubmit)="onSubmitToBillboard()"
    class="container"
  >
    <div class="insideContainer">
      <div class="insideForm">
        <label for="movie-name" class="labels">
          Movie
        </label>
        <select
          name="movie-name"
          id="movie-name"
          class="inputs"
          formControlName="movie_id"
        >
          <option value="" disabled selected>Select your option</option>
          <option *ngFor="let item of movies" [ngValue]="item.id">{{
            item.name
          }}</option>
        </select>
        <div
          class="errorContainer"
          *ngIf="isSubmited && createForm.movie_id.errors"
        >
          <p class="erroMsgs">
            The name of the movie is required
            <span
              class="material-icons"
              style="vertical-align: middle; display: inline-flex;"
            >
              warning
            </span>
          </p>
        </div>
        <!-- the movie pictures and info here -->

        <label for="movie-classification" class="labels">
          Location
        </label>
        <select
          name="movie-classification"
          id="movie-classification"
          class="inputs"
          formControlName="location_id"
        >
          <option value="" disabled selected>Select your option</option>
          <option *ngFor="let item of locations" [ngValue]="item.id">{{
            item.location
          }}</option>
        </select>
        <div
          class="errorContainer"
          *ngIf="isSubmited && createForm.location_id.errors"
        >
          <p class="erroMsgs">
            The location for the movie is required
            <span
              class="material-icons"
              style="vertical-align: middle; display: inline-flex;"
            >
              warning
            </span>
          </p>
        </div>
        <label for="movie-genre" class="labels">
          Date for the show
        </label>
        <div class="datePicker">
          <input
            type="date"
            name="show_date"
            id="show-date"
            formControlName="show_date"
            class="inputs"
          />
          <input
            type="number"
            min="00"
            max="24"
            name="show_hour"
            id="show_hour"
            class="inputs"
            formControlName="hour"
            placeholder="Hour"
          />
          <input
            type="number"
            min="00"
            max="60"
            name="show_minutes"
            id="show_minutes"
            class="inputs"
            formControlName="minutes"
            placeholder="Minutes"
          />
        </div>
        <div
          class="errorContainer"
          *ngIf="
            isSubmited &&
            (createForm.show_date.errors ||
              createForm.hour.errors ||
              createForm.minutes.errors)
          "
        >
          <p class="erroMsgs">
            The date/time for the show is required and must be a valid date
            <span
              class="material-icons"
              style="vertical-align: middle; display: inline-flex;"
            >
              warning
            </span>
          </p>
        </div>

        <label for="movie-genre" class="labels">
          Capacity
        </label>
        <div>
          <div style="display: flex; width: 100%; margin: 0;">
            <input
              type="number"
              name="capacity"
              id="capacity"
              formControlName="capacity"
              class="inputs"
              style="width: 20%;"
              max="30"
              min="0"
            />
          </div>
          <div
            class="errorContainer"
            *ngIf="isSubmited && createForm.capacity.errors"
          >
            <p class="erroMsgs">
              The capacity is required
              <span
                class="material-icons"
                style="vertical-align: middle; display: inline-flex;"
              >
                warning
              </span>
            </p>
          </div>
        </div>
        <label for="movie-genre" class="labels">
          Tickets
        </label>
        <div style="display: flex; width: 100%; margin: 0;">
          <select class="inputs">
            <option *ngFor="let i of tickets" [ngValue]="i.id"
              >{{ i.name }}: ${{ i.pricing | number: "1.0-0" }}</option
            >
          </select>
          <input type="submit" value="Submit changes" class="submit-button" />
        </div>
        <div class="btnContainer">
          <input type="submit" value="Submit changes" class="submit-button" />
          <input type="reset" value="Reset changes" class="submit-button" />
        </div>
      </div>
    </div>
  </form>
</div>
