/* You can add global styles to this file, and also import other style files */
@import "custom-theme.scss";

$primary:#fffb00;
$secondary:#7109ad;
$bg-color:#404040;
$bg-secondary:#333333;

*{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  background-color:$bg-color;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #ffff;
}

::-moz-selection{
  color:#ffffff;
  background:$secondary
}
::selection{
  color:$primary;
  background:$secondary;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: $secondary;
}
body::-webkit-scrollbar-thumb {
  background: #45036b;
  border-radius: 0.5rem;
}

li {
  text-decoration: none;
  list-style: none;
}

nav,
a,li {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
}

nav,
a:hover,li:hover {
  color: #fffb00;
}
