/* You can add global styles to this file, and also import other style files */
@import "custom-theme.scss";

html,
body {
  height: 100%;
  background-color: #404040;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #ffff;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: #7109ad;
}
body::-webkit-scrollbar-thumb {
  background: #45036b;
}

li {
  text-decoration: none;
  list-style: none;
}

nav,
a,li {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
}

nav,
a:hover,li:hover {
  color: #fffb00;
}
