$primary: #fffb00;
$secondary: #7109ad;
$secondary-dual: #45036b;
$bg-secondary: #333333;

.breadcrumbs {
  position: absolute;
}

.btitle {
  font-weight: 600;
  text-shadow: 3px 3px #3c045c;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.spanx {
  color: $primary;
}

.like-count {
  display: flex;
  font-size: 15px;
  margin-left: 5px;
  font-weight: 500;
  text-shadow: 3px 3px #3c045c;
}
section {
  display: grid;
  justify-items: center;
  padding: 50px;
}

.container {
  display: flex;
  border: none;
  width: 90%;
  height: 500px;
  overflow: scroll;
  overflow-y: hidden;
  border-radius: 0.5rem;
}
.container::-webkit-scrollbar {
  width: 0.5rem;
}
.container::-webkit-scrollbar-track {
  background: $secondary;
  border-radius: 0.5rem;
}
.container::-webkit-scrollbar-thumb {
  background: $secondary-dual;
  border-radius: 0.5rem;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  margin-left: 30px;
  width: 170px;
  height: 250px;
  border-radius: 0.5rem;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 0.5rem;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 0.5rem;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
  background-color: white;
}

.card:hover {
  transform: scale(1, 1);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

.gen-icon {
  color: $secondary;
  font-size: 20px;
}
.genres-tag {
  background: transparent;
  box-shadow: 0 0 2px $primary;
  width: 90px;
  display: flex;
  margin: 2px;
  border-radius: 0.7rem;
}

.genres-container {
  display: grid;
  padding-top: 20px;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  color: #ffff;
}

.heading {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  text-shadow: 3px 3px #3c045c;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
