$primary: #fffb00;
$secondary: #7109ad;
$secondary-dual: #45036b;
$misc: #9203e6;
$bg-secondary: #333333;

.breadcrumb {
  text-align: center;
}
.btitle {
  font-weight: 600;
  text-shadow: 3px 3px #3c045c;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spanx {
  color: $primary;
}

section {
  display: grid;
  justify-items: center;
  padding: 50px;
  background: $bg-secondary;
}

.bannerContainer {
  width: 100%;
  position: relative;
  z-index: 1;
  background-position: right -100px top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.banner {
  width: 100%;
  height: 500px;
  z-index: -1;
  object-fit: cover;
}

.mainCover {
  background-image: linear-gradient(
    to right,
    rgb(51, 1, 75) 10px,
    rgba(49, 0, 95, 0.84) 10%
  );
  background-color: transparentize($color: $primary, $amount: 1);
}

.mainContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
