<div class="container">
  <div class="nav-links">
    <ul>
      <li>
        <a routerLink="/movies" routerLinkActive="active">Movies</a>
      </li>
      <li>
        <a routerLink="/billboard" routerLinkActive="active">Billboards</a>
      </li>
      <li class="logo">
        <a routerLink="/" routerLinkActive="active">Auto Theater</a>
      </li>
      <li>
        <a routerLink="/products" routerLinkActive="active">Products</a>
      </li>
      <li>
        <a routerLink="/register" routerLinkActive="active">Sign in</a>
      </li>
    </ul>
  </div>
</div>
