<div class="container">

      <ul class="nav-links">
        <li>
          <a routerLink="/movies" routerLinkActive="active">Movies</a>
        </li>
        <li>
          <a routerLink="/billboard" routerLinkActive="active">Billboards</a>
        </li>
        <div class="logo">
          <a routerLink="/" routerLinkActive="active">Auto Theater</a>
        </div>
        <li>
          <a routerLink="/products" routerLinkActive="active">Products</a>
        </li>
        <li>
          <a routerLink="/register" routerLinkActive="active">Sign in</a>
        </li>
      </ul>

</div>
