$primary: #fffb00;
$secondary: #7109ad;
$secondary-dual: #45036b;
$misc: #9203e6;
$bg-secondary: #333333;

.container {
  width: 100%;
  padding-top: 5em;
  padding-bottom: 5em;
  background:transparent;
  display: flex;
  justify-content: center;
  margin: 0;
  border-top: solid;
  border-bottom:solid;
  border-color: $secondary;
  position: relative;
}
.logo {
  width: 60px;
  letter-spacing: 10px;
  font-size: 1.2rem;
}

.nav-links {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-around;
  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li{
      margin:50px;
    }
  }
}
.gridDiv{
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: $bg-secondary;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

@media screen and (max-width:700px){
  .container{
    padding:0;
    flex-direction: column;
    justify-content: center;
  }
  .nav-links{
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    ul{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      li{
        margin:20px;
      }
    }
  }
}
